body{
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
}
#map { height: 50rem; 
  width: 90%; 
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(5, 5, 5);
}

.leaflet-popup-content {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 12px;
  width: 50rem;
   
  }


  .statusP1{
    
    font-size: 1.4rem;
    position: relative;
    top: 4.5rem;
  }
  .statusP2{
    
    font-size: 1.4rem;
    position: relative;
    top: 4.5rem;
  }


.status1{
    position: relative;
    left: 12rem;
    background-color: #2ecc71;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.status2{
  position: relative;
  left: 10rem;
  background-color: #f1c40f;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.status3{
  position: relative;
  left: 13rem;
  background-color: #e74c3c;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}




